<!DOCTYPE html>
<html>
  <head>
    <title>ERecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'imagehover', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'flickity', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'green-scheme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'all', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'misc', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'medigo-custom', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'plugins', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery-migrate', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'flickity', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'medigo-custom', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
    

  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/search'%>
    <%= render 'layouts/messages' %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
